COHAB_DB=cohab
COHAB_DB_PASSWORD=labubu
COHAB_DB_USER=magofrays
COHAB_DB_CONTAINER_NAME=cohab-db
COHAB_DB_PORT=5432

EVENT_DB_USER=magofrays
EVENT_DB_PASSWORD=labubu
EVENT_DB=cohab
EVENT_DB_CONTAINER_NAME=event-db
EVENT_DB_PORT=5433

JWT_EXPIRES_AT=86400
ALLOWED_ORIGINS=http://localhost:5173,http://cohab-front:8081,http://magofrays.sknt.ru,https://magofrays.sknt.ru
ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
COHAB_SERVER_PORT=8080
OUTER_FRONTEND_PORT=8081
COHAB_CHAT_PORT=8082

REDIS_CONTAINER_NAME=redis
REDIS_TIMEOUT=60000
REDIS_PORT=6379

MONGO_CONTAINER_NAME=вmongodb
MONGO_DB=cohab_chat
MONGO_PORT=27017
MONGO_USER=magofrays
MONGO_PASSWORD=labubu

LOGGING_LEVEL=DEBUG
SHOW_SQL=false
KAFKA_BOOTSTRAP_SERVERS=kafka1:9092
KAFKA_DOMAIN_1=kafka1
KAFKA_DOMAIN_2=kafka2
